doctype html

head
	title Color Picker
	script(type='text/javascript', src="/jquery.js")
	script(type='text/javascript', src="/script.js")
	link(rel='stylesheet', href='/style.css')
body
	header
		img(id='logo' alt='logo' src='https://raw.github.com/codebar/planner/master/app/assets/images/logo.png')
	div#container
		h1 Color picker
		input#color
		button#add-to-favorite Add to favorites
		div.row
			div.column
				div.preview
			div.column
				div#colors
			br
			div.color-code
	footer
		div#content by @by_Codebar and @EleonoreMayola
